/*
  Assignment: Pizza Parlor
  Name: Kari Cook
  Date: 07/11/22
  Filename: styles.css
*/

body {
  background-color: ivory;
  background-size: cover;
}

header {
  font-size: 2em;
  text-align: center;
  background-color: red;
  background-size: cover;
  border-radius: 55%;
  border: 10px dotted darkred;
  padding: 10px;
  margin-bottom: 10px;
  text-shadow: 2px 2px lightgrey;
}
p {
  font-size: 1.25em;
  font-weight: bold;
  font-style: italic;
  margin-left: 20px;
  margin-right: 20px;
  text-align: center;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: center;
  border: 3px solid black;
  border-radius: 8%;
  background-color: green;
}

/* Navigation styles */

nav ul{
  list-style: none;
  text-align: center;
}
nav ul li {
  display: inline-flex;
  font-size: 1.5em;
  background-color: #332f2f;
  padding: 15px;
  border: 1px darkred solid;
  text-align: center;
}

nav a {
  text-decoration: none;
  color: white;
}
/*Form styles*/
.form {
margin-left: 20px;
margin-right: 20px;
}
.submit {
  font-size: 1em;
  font-weight: bold;
  padding: 5px;
  background-color: lime;
}
/* Menu pizza styles*/
div.pizza {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  margin-bottom: 20px;
}
img {
  max-width: 300px;
  margin-bottom: 5px;
}
/*Media query styles*/
@media screen and (max-width: 560px){
  nav ul li {
    display: flex;
    flex-flow: row wrap;
    margin-right: 35px;
  }

}
